.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1920px;
}

nav {
  background-color: #3E2F41 !important;
}

.navbar-brand {
  font-size: 2em !important;
  padding: 0 !important;
}

#addColumnBtn {
  background-color: #5A79B0;
  border-color: #5A79C0;
}

#addColumnBtn:hover {
  background-color: #6c91be;
}

#addTask {
  background-color: #B9719E;
  border-color: #b46596;
}

#addTask:hover {
  background-color: #b67ea1;
}

main {
  background-color: #FFFFFE;
}

#columns {
  display: grid;
  grid-template-columns: repeat(25%, 4);
  width: 100%;
  height: 100%;
}

footer {
  background-color: #5A79C0;
  text-align: center;
  padding: 15px 0;
}

footer a{
  font-size: 1.3em;
  color: #FFFFFE;
}

footer a:hover {
  color: #FFFFFE;
}

footer svg{
  margin-right: 10px;
}

mycolors {
  color: #3E2F41;
  color: #5A79B0;
  color: #ABADC4;
  color: #CCCCCC;
  color: #CCCCD3;
  color: #B9719E;
}