.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  min-width: 1230px;
}

nav {
  background-color: #3E2F41 !important;
}

.navbar-brand {
  font-size: 2em !important;
  padding: 0 !important;
}

#addColumnBtn {
  background-color: #5A79B0;
  border-color: #5A79C0;
}

#addColumnBtn:hover {
  background-color: #6c91be;
}

#addTask {
  background-color: #B9719E;
  border-color: #b46596;
}

#addTask:hover {
  background-color: #b67ea1;
}

main {
  background-color: #FFFFFE;
  max-height: 100%;
  overflow-y: auto;
  margin: 5px;
}

#columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 50%;
}

.column {
  /* background-color: lightblue; */
  min-width: 19%;
  max-width: 19%;
  overflow-x: auto;
  padding: 3px 5px;
  border-radius: 3px;
}

.column:not(:first-child) {
  margin-left: 1%;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.task {
  word-wrap: break-word;
  max-width: 100%;
}

.task:not(:last-child) {
  margin-right: 10px;
}

footer {
  background-color: #5A79C0;
  text-align: center;
  padding: 10px 0;
}

footer a {
  font-size: .85em;
  color: #FFFFFE;
}

footer a:hover {
  color: #FFFFFE;
}

footer svg {
  margin-right: 10px;
}

mycolors {
  color: #3E2F41;
  color: #5A79B0;
  color: #ABADC4;
  color: #CCCCCC;
  color: #CCCCD3;
  color: #B9719E;
}